#navigator-toolbox-background { height: 0 !important; }

#titlebar { display: none !important; }

.titlebar-buttonbox-container {
  display: none !important;
}

#urlbar-search-mode-indicator { display: none !important }
#back-button, #forward-button { display: none !important }
#reload-button { display: none; }
#stop-button { display: none; }
#home-button { display: none; }
#library-button { display: none; }
#fxa-toolbar-menu-button { display: none; }
#identity-box { display: none; }
#pageActionButton { display: none; }
#pocket-button { display: none; }
#urlbar-zoom-button { display: none; }
#tracking-protection-icon-container { display: none !important; }
#reader-mode-button{ display: none !important; }
#star-button { display: none; }#urlbar-go-button { display: none; }
#userContext-label, #userContext-indicator { display: none !important;}

#urlbar-background { border-radius: 12px !important; }
#urlbar-input::placeholder{ color: transparent }

#navigator-toolbox {
  position: relative;
  z-index: 1;
}

#navigator-toolbox:hover {
  height: 40px;
  opacity: 1 !important;
}

#navigator-toolbox:not(:hover) {
  opacity: 0 !important;
  height: 20px;
}

#navigator-toolbox:focus-within {
  height: 40px;
  opacity: 1 !important;
}
