#navigator-toolbox-background { height: 0 !important; }

#titlebar { display: none !important; }

.titlebar-buttonbox-container { display: none !important; }

#urlbar-search-mode-indicator { display: none !important }
#reload-button { display: none; }
#stop-button { display: none; }
#home-button { display: none; }
#library-button { display: none; }
#fxa-toolbar-menu-button { display: none; }
#pageActionButton { display: none; }
#pocket-button { display: none; }
#urlbar-zoom-button { display: none; }
#reader-mode-button{ display: none !important; }

#urlbar-background { border-radius: 12px !important; }

#navigator-toolbox {
  position: top;
  height: 40px;
  z-index: 1;
  opacity: 0 !important;
}

#navigator-toolbox:focus-within {
  opacity: 0.92 !important;
}
